
<div class="main">
  <div class="cv">
    <div class="section1">
      <div class="header">
        <p class="p1">Skills and Courses</p>
        <!-- <p class="skill-desc p2">Courses & Books</p> -->
      </div>
      <div class="items">
        <div class="item cv-html">
          <p class="p1 cv-html1">HTML & CSS</p>
          <p class="skill-desc">
            <a
              target="_blank"
              href="https://www.udemy.com/course/css-the-complete-guide-incl-flexbox-grid-sass/"
            >
              Academind
            </a>
            <a
              target="_blank"
              href="https://www.youtube.com/c/Pasjainformatykitutoriale"
              >Pasja Informatyki
            </a>
          </p>
        </div>
        <div class="item cv-java">
          <p class="p1 cv-java">JavaScript</p>
          <p class="skill-desc">
            <a
              target="_blank"
              href="https://www.udemy.com/course/javascript-the-complete-guide-2020-beginner-advanced/"
            >
              Academind
            </a>
            <a
              target="_blank"
              href="https://www.youtube.com/c/Pasjainformatykitutoriale"
              >Pasja Informatyki
            </a>
          </p>
        </div>
        <div class="item cv-typescript">
          <p class="p1 cv-typescript1">TypeScript</p>
          <p class="skill-desc">
            <a
              target="_blank"
              href="https://www.udemy.com/course/understanding-typescript/"
            >
              Academind
            </a>

            <a target="_blank" href="https://typescriptnapowaznie.pl/">
              Michał Miszczyszyn
            </a>
          </p>
        </div>
        <div class="item cv-angular">
          <p class="p1 cv-angular1">Angular</p>
          <p class="skill-desc">
            <a
              target="_blank"
              href="https://www.udemy.com/course/the-complete-guide-to-angular-2/"
            >
              Academind
            </a>
          </p>
        </div>
        <div class="item cv-node">
          <p class="p1 cv-node1">NodeJS</p>
          <p class="skill-desc">
            <a
              target="_blank"
              href="https://www.udemy.com/course/nodejs-the-complete-guide/"
            >
              Academind
            </a>
          </p>
        </div>
        <div class="item cv-mongo">
          <p class="p1 cv-mongo1">MongoDB</p>
          <p class="skill-desc">
            <a
              target="_blank"
              href="https://www.udemy.com/course/nodejs-the-complete-guide/"
            >
              Academind
            </a>
          </p>
        </div>
        <div class="item last item cv-docker">
          <p class="p1 cv-docker1">Docker & Git</p>
          <p class="skill-desc">
            <a
              target="_blank"
              href="https:/www.udemy.com/course/docker-kubernetes-the-practical-guide/"
            >
              Academind (Docker)
            </a>
            <a
              target="_blank"
              href="https://www.udemy.com/course/git-github-practical-guide/"
            >
              Academind (Git)
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="section2">
      <section class="job-header">Employment History</section>
      <div class="job">
        <div class="single-job single-job-body">
          <p class="place place-body">BodyWork</p>
          <ul class="duites">
            <!-- <li># Conducting personal and group trainings</li> -->
            <li>Personal Trainer</li>
            <li>Organizer of numerous workshops</li>
            <li>
              Lecturer and event speaker
              <!-- # Lecturer of the "Basic Personal Training" course for new
              trainers -->
            </li>
            <!-- <li># Speaker at the "Movementors" event</li> -->
          </ul>
        </div>
        <div class="single-job single-job-elzan">
          <p class="place place-elzan">ElzanSport</p>
          <ul class="duites">
            <li>Ski instructor</li>
            <li>Organizer of ski training capms</li>
            <li>Windsurfing instructor</li>
          </ul>
        </div>
        <div class="single-job single-job-labirynt">
          <p class="place">Labirynt Ciała</p>
          <ul class="duites">
            <li>Personal Trainer</li>
            <li>Training studio owner</li>
            <li>Physiotheraphist</li>
          </ul>
        </div>
      </div>
      <div class="past"></div>
    </div>

    <div class="section2 section3">
      <section class="job-header">About me</section>
      <div class="job">
        <div class="single-job single-job-body">
          <p class="place place-body">Languages</p>
          <ul class="duites">
            <li>English(C1)</li>
            <li>French(B2)</li>
            <li>Italian(A2)</li>
          </ul>
        </div>
        <div class="single-job single-job-elzan">
          <p class="place place-elzan">Hobbies</p>
          <ul class="duites">
            <li>Skitouring and combat sports</li>
            <li>Boardgames and escaperooms</li>
            <li>Solving riddles, reading books</li>
          </ul>
        </div>
        <div class="single-job single-job-labirynt">
          <p class="place">Education</p>
          <ul class="duites">
            <li>Karol Marcinkowski High School</li>
            <li>University of Adam Mickiewicz - Nanotechnology</li>
            <li>Academy of Physical Education - Physiotherapy</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


