$primary: hsl(231, 28%, 23%);
$secondary: hsl(188, 100%, 80%);

.main {
  height: calc(100% - 120px);
  width: 100vw;
  background-color: rgb(39, 43, 69);
  display: flex;
  justify-content: center;

  .container {
   
    padding-top: 2rem;
    display: flex;
    gap: 5rem;
    height: 100%;
    justify-content: flex-start;

    .list {
      margin-top: 2rem;
      
      width: 15%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      & > * {
        border-radius: 15px;
      }
    }
    .details {
      margin-top: 2rem;
      width: 45%;
      height: 85%;
      background-color: white;
      border-radius: 15px;
    }
  }
}

