<section id="contact">
  <div class="innerContact">
    <section id="messageMe">
      <form
        action="https://formsubmit.co/8d2b4ee9e926a5904e53c87ffad3c151"
        method="POST"
      >
        <div class="fields">
          <div class="field half">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required />
          </div>
          <div class="field half">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" required />
          </div>
          <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="6"></textarea>
            <input type="hidden" name="_next" value="./views/thankyou.html" />
          </div>
        </div>

        <ul class="actions">
          <li><input type="submit" value="Send Message" class="primary" /></li>
          <li><input type="reset" value="Clear" class="secondary" /></li>
        </ul>
      </form>
    </section>
    <section class="split">
      <div class="contact-method contact-method-Email">
        <img src="../../assets/tiles/email.png" class="icon" alt="email icon" />
        <h3>jbasinski@techcode.dev</h3>
      </div>

      <div class="contact-method">
        <img
          src="../../assets/tiles/phone.png"
          class="icon icon-phone"
          alt="email icon"
        />
        <h3>722-069-584</h3>
      </div>

      <section>
        <div class="contact-method contact-method-adres">
          <img
            src="../../assets/tiles/place.png"
            class="icon"
            alt="email icon"
          />
          <h3>Poznań</h3>
        </div>
      </section>
    </section>
  </div>
</section>
