.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: hsl(231, 28%, 28%);
  border-radius: 5px;
  display: flex;
  justify-content: start;
  align-items: center;

  h3 {
    font-size: 2.5vw;
    padding-top: 8rem;
    // height: 60%;
    width: 90%;
    color: white;
    text-align: center;
  
  }
}
