// * {
//   border: red 1px solid !important;
// }

.kontenerek  {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: hsl(231, 28%, 28%);
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  div {
    font-size: 4rem;
    padding-top: 5rem;
    // height: 60%;
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .kontenerek {
    height: 80%;
    width: 100%;
    // align-items: start;
    div {
      font-size: 2rem;
    }
  }
}

@media (max-width: 414px) {
  .kontenerek {
    div {
      font-size: 1.5rem;
    }
  }
}
