<section id="banner">
  <h1 class="inner">Hi, my name is Kuba.</h1>
  <hr class="innerHr"/>
  <div class="content">
    <div class="zamknij">
      Welcome to my website. Here you will find information about me, the
      technologies I use and the projects that I have deployed so far. All
      source codes are available on the github and dockerhub repositories. Contact details can
      be found at the bottom of the page.
    </div>
  </div>
  <!-- <div class="content2">
    Get Started
  </div> -->
</section>
