$primary: hsl(231, 28%, 23%);
$secondary: hsl(188, 100%, 80%);
// * { border: 1px solid red !important; }
.row {
  margin: 0;
}

@mixin tile() {
  height: 16rem;
  display: flex;
  align-items: center;
  color: white;
  -webkit-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  overflow: hidden;
}

@mixin icon() {
  width: 160px;
  height: 160px;

  margin: 0 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

@mixin header() {
  // animation-name: getIn;
  // animation-iteration-count: 1;
  // animation-duration: 0.1s;
  // color:red;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 1rem;
  width: 60%;
  h1 {
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  }
  h5 {
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  }
}

@mixin description() {
  font-size: calc(9px + 6 * ((100vw - 320px) / 680));
  width: 60%;
}

.tile1 {
  @include tile();

  background-color: #63bbc2;
  &:hover {
    background-color: #52aab1;
  }

  header {
    @include header();
  }

  .iconHtml {
    @include icon();
    margin: 0;
    width: 180px;
    height: 180px;
  }

  .description {
    @include description();
  }
}

.tile2 {
  @include tile();
  background-color: #756fa1;
  &:hover {
    background-color: #645ea0;
  }

  .iconNode {
    @include icon();
    margin: 0 3rem;
  }

  header {
    @include header();
  }

  .description {
    @include description();
  }
}

.tile3 {
  @include tile();
  background-color: hsl(5, 40%, 62%);
  &:hover {
    background-color: hsl(5, 34%, 58%);
  }

  .projectButton {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
      color: white;
      border: 2px solid white;
      padding: 0.7rem 1.8rem;
      font-size: 1.8vw;
      font-weight: 500;
      border-radius: 5px;

      &:hover {
        background-color: hsl(5, 34%, 55%);
        color: $secondary;
        border: 2px solid $secondary;
      }
      // font-size:
    }
  }

  .iconProjects {
    @include icon();
  }

  header {
    @include header();
  }

  .description {
    @include description();
  }
}

.noDisplay {
  display: none;
}

.tile4 {
  @include tile();
  background-color: hsl(28, 48%, 68%);
  &:hover {
    background-color: #c4aa75;
  }
  .projectButton {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    a {
      width: 60%;
      text-decoration: none;

      color: white;
      border: 2px solid white;
      padding: 0.6rem 1.8rem;
      font-size: 1.8vw;
      font-weight: 500;
      letter-spacing: 2px;
      border-radius: 5px;
      display: flex;
      justify-content: center;

      &:hover {
        background-color: hsl(40, 40%, 57%);
        color: $secondary;
        border: 2px solid $secondary;
      }
      // font-size:
    }
  }

  header {
    @include header();
  }

  .iconGit {
    @include icon();
    margin-left: 1.5rem;
  }

  .description {
    @include description();
  }
}

.tile5 {
  @include tile();
  background-color: #788cb9;
  &:hover {
    background-color: #677ab8;
  }

  .projectButton {
    padding-left: 1rem;

    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    p {
      font-size: 1.4vw;
      width: 90%;
    }
    a {
      text-decoration: none;
      color: white;
      border: 2px solid white;
      padding: 0.5rem 1rem;
      font-size: 1.5vw;
      font-weight: 500;
      border-radius: 5px;

      &:hover {
        background-color: hsl(226, 36%, 53%);
        color: $secondary;
        border: 2px solid $secondary;
      }
      // font-size:
    }
  }

  header {
    @include header();
  }

  .iconMe {
    @include icon();
  }

  .description {
    @include description();
  }
}

.tile6 {
  @include tile();
  background-color: hsl(152, 24%, 54%);
  &:hover {
    background-color: #63aa81;
  }

  header {
    @include header();
  }

  .icon-progres {
    @include icon();
  }

  .description {
    @include description();
  }
}

@keyframes getIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1920px) {
  .tile {
    .description {
      font-size: calc(11px + 6 * ((100vw - 320px) / 680));
    }
  }
}

@media (max-width: 1200px) {
  .tile {
    .description {
      font-size: calc(13px + 6 * ((100vw - 320px) / 680));
    }
  }
}

@media (max-width: 1536px) {
  .tile {
    header {
      h1 {
        font-size: calc(25px + 6 * ((100vw - 320px) / 680));
      }
      h5 {
        font-size: calc(17px + 6 * ((100vw - 320px) / 680));
      }
    }
  }
}
@media (max-width: 768px) {
  @mixin description() {
    font-size: calc(20px + 6 * ((100vw - 320px) / 680));
    width: 60%;
  }
  .tile {
    header {
      h1 {
        font-size: calc(40px + 6 * ((100vw - 320px) / 680));
      }
      h5 {
        font-size: calc(18px + 6 * ((100vw - 320px) / 680));
      }
    }
  }
  .tile {
    width: 100%;
    .description {
      @include description();
      font-size: calc(15px + 6 * ((100vw - 320px) / 680));
    }
    .projectButton {
      p {
        font-size: 1rem;
      }
      a {
        font-size: 1rem;
      }
    }
    .gitdocker {
      width: 50%;
    }
  }
}

@media (max-width: 414px) {
  .row {
    .tile {
      .description {
        font-size: 0.95rem;
        margin: 0 0 0 1rem;
      }
      .icon {
        width: 100px;
        height: 100px;
        margin: 0 0.5rem;
      }
      .projectButton {
        p {
          font-size: 1rem;
        }
        a {
          font-size: 0.9rem;
        }
      }
    }
  }
}
